In [20]:
from helper_funcs import get_data
import pandas as pd
from datetime import datetime
import plotly.graph_objects as go

In [18]:
tickers = ['BTC', 'ETH', 'LTC']
data = get_data(tickers)

df = pd.DataFrame(data, columns = ['id', 'symbol', 'date', 'high', 'low', 'open', 'close', 'volumeto', 'volumefor'])
df = df.drop('id', axis=1)

Finding data for: 'BTC', 'ETH', 'LTC'

In [19]:
df

     symbol        date   high    low   open  close     volumeto   volumefor
0       LTC  1449878400  3.906  3.438  3.759  3.538   2488966.84   666492.40
1       LTC  1456876800  3.378  3.314  3.422  3.355    685687.58   204363.22
2       LTC  1456963200  3.381  3.276  3.362  3.308    457912.86   138163.31
3       LTC  1457049600  3.342  3.196  3.308  3.232    389892.54   118747.81
4       LTC  1457136000  3.252  3.099  3.232  3.182    491855.03   154733.78
...     ...         ...    ...    ...    ...    ...          ...         ...
5998    ETH  1460592000  8.841  7.972  8.004  8.396  11844445.80  1410792.73
5999    ETH  1460678400  8.895  8.029  8.396  8.235  10913974.35  1325355.77
6000    ETH  1460764800  8.666  8.046  8.235  8.575   8692831.30  1013717.97
6001    ETH  1460851200  9.706  8.436  8.575  9.378  21329659.31  2274503.75
6002    ETH  1460937600  9.516  8.460  9.378  8.913  19313038.76  2166824.82

[6003 rows x 8 columns]